{% extends 'base.html' %}

{% block title %}
    {% if category %} {{ category.name }} {% else %} Все товары {% endif %}
{% endblock %}

{% block content %}
<!-- Основной контент -->
<div class="container my-5">
    <h1 class="mb-4">{% if category %} {{ category.name }} купить в интернет-магазине ВАШ ДОМ {% else %} Все товары {% endif %}</h1>

    <!-- Блок вывода товаров -->
    <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
        <!-- Карточки товаров -->
        {% if not products %}
            <div class="text-center alert alert-info">В данной категории отсутствуют товары</div>
        {% else %}
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="https://via.placeholder.com/300" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">Краткое описание товара. Можно указать основные характеристики.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="h5 text-primary">{{ product.price }} ₽</span>
                                <button class="btn btn-sm btn-outline-primary">В корзину</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <!-- Пагинация -->
    <nav class="mt-5">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Назад</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Вперёд</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}